<template name="_commModal">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Commentaires</h1>
    {{/contentFor}} {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{#if isAndroid}} {{> ionIcon icon='android-more-vertical'}} {{else}} {{> ionIcon icon='navicon'}} {{/if}}
    </button>
{{/contentFor}}
    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear" data-ion-popover="_commPopover">
            {{#if isAndroid}}
                {{> ionIcon icon='android-more-horizontal'}}
            {{else}}
                {{> ionIcon icon='more'}}
            {{/if}}
        </button>
    {{/contentFor}}
    {{#ionView}} {{#ionContent}}
    <div class="list card">
        {{#each getComms}}
            <a href="#" class="item item-icon-left">
                <i class="ion-clock"></i>
               {{formatTime submitted_on}}
            </a>
        <div class="item item-image">
            <img src="{{getPicture photo_id}}" />
        </div>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-information-circled"></i>
                {{content}}
            </a>
        {{/each}}
        </div>
    {{/ionContent}} {{/ionView}}
</template>